
#textField {
    -fx-font-family: "Arial";
    -fx-font-size: 12px;
    -fx-font-weight: normal;
    -fx-max-width: 450px;
    -fx-display: flex;
    -fx-flex-direction: column;
}
#textField:focused {
    -fx-background-color: #d3f0e2;
}

#textArea {
    -fx-width: 400px;
    -fx-height: 100px;
    -fx-border-width: 1px;
    -fx-border-color: #000000;
    -fx-border-style: solid;
    -fx-background-color: #d3f0e2;
}

#btn1 {
    -fx-display: inline-block;
    -fx-color-label-visible: white;
    -fx-text-emphasis: none;
    -fx-padding: .3em 2em;
    -fx-outline: none;
    -fx-border-width: 0px 0;
    -fx-border-radius: 23px;
    -fx-background-color: #FFBF00;
    -fx-transition-delay: 0.2s time;
}
#btn1:hover { -fx-background-color: linear-gradient(to right, #598D74, #FFBF00); }

